.main {
  height: 100vh;
  margin: 30px 50px;
  &__section {
    display: flex;
    flex-direction: column;
  }
  &___sort-btn {
    width: 60%;
    background-color: rgb(0, 204, 255);
    color: #000;
  }
}
